body{padding-top:44px}h1{text-align:center;font-size:1.2em;font-weight:bold;letter-spacing:1px}table.table thead
tr{background-color:#b7dde8}table.table tfoot
tr{background-color:#cee4ea}div.tab-content{margin-top: .8em}textarea.form-control{font-size: .8em;font-family:Tahoma,'Tahoma CE',Arial,sans-serif}div#source select,div#source
textarea{font-size: .85em;font-family:Tahoma,'Tahoma CE',Arial,sans-serif}