<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

	Order allow,deny
	Allow from 37.48.33.198

    RewriteCond %{REQUEST_URI} !\.woff

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.+)/$ http://%{HTTP_HOST}/$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

	Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

    <IfModule mod_headers.c>
        Header set Connection keep-alive
        <FilesMatch ".(js|css|xml|gz|html)$">
            Header append Vary: Accept-Encoding
        </FilesMatch>
        <FilesMatch "\.(ttf|otf|eot|woff|woff2|svg)$">
            Header set Access-Control-Allow-Origin "*"
        </FilesMatch>
    </IfModule>

    <IfModule mod_deflate.c>
        AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
        <FilesMatch "\.(js|css|gif|jpg|png)$">
            SetOutputFilter DEFLATE
        </FilesMatch>
    </IfModule>

    <FilesMatch "\.(jpg|jpeg|png|gif|swf|ttf|otf|eot|woff|woff2|svg)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>

    <FilesMatch "\.(xml|txt|css|js)$">
        Header set Cache-Control "max-age=691200, proxy-revalidate"
    </FilesMatch>

</IfModule>