
/*****************************************/


/* --------------------------------------------------
Menu Action
-------------------------------------------------- */

#menu-action {
    margin-bottom: 10px;
}

/* --------------------------------------------------
Global
-------------------------------------------------- */

li  {font-size: 0.9em}

/* --------------------------------------------------
Container
-------------------------------------------------- */

div#container, div.container {
    position: relative;
    width: 997px;
    margin: 0 auto;
    padding: 0;
}

/* --------------------------------------------------
Grid
-------------------------------------------------- */
