h1 {
    font-size: 1.2em;
    text-align: center;
}
table#buy-table {
    width: 100%;
}

table#buy-table input {
    margin-top: 1em;
}

table#buy-table thead th {
    font-size: .8em;
}

table#buy-table tfoot td {
    font-size: 1em;
}

table#buy-table tfoot td strong {
    font-size: 1.2em;
    color: green;
}

table#buy-table a:hover, table#buy-table a:focus {
    text-decoration: underline;
}

table#buy-table a.delete-alert {
    color:#ff0000;
}

ul#buy-flow {
    float: left;
}