h1 {
    font-size: 1.2em;
    text-align: center;
}

table#buy-table {
    width: 100%;
}

table#buy-table input {
    margin-top: 1em;
}

table#buy-table thead th {
    font-size: .8em;
}

table#buy-table tfoot td {
    font-size: 1em;
}

table#buy-table tfoot td strong {
    font-size: 1.2em;
    color: green;
}

table#buy-table a:hover, table#buy-table a:focus {
    text-decoration: underline;
}

table#buy-table a.delete-alert {
    color: #ff0000;
}

#buy .button, #product .button {
    font-weight: bold;
}

#buy input[type='radio'][disabled] + label {
    color: #d3d3d3;
    font-style: italic;
}

#buy #buy-flow a {
    margin-top: .6em;
    border: 3px double blue;
}

#buy #buy-flow a i {
    color: #666;
}