#part-left {
    border: 0px solid #ddd4b0;
}

#part-left p {
    padding: 1px;
    margin: 1px;
    font-size: .9em;
}

#part-left a.item label {
    width: 12em;
    height: 1em;
    text-align: left;
}

#part-right {
    border: 0px solid #ebcccc;
    font-size: .9em;
}

/*****************************/

.valign-middle {
    display: table;
}

.valign-middle .columns {
    display: table-cell;
    vertical-align: middle;
}

.valign-middle .columns,
.valign-middle [class*="column"] + [class*="column"]:last-child {
    float: none;
}