#product h1 {
    font-size: 1.4em;
}

#product h3 {
    font-size: 1.2em;
}

#product p#desc {
    font-size: .8em;
}

#product p.storeroom {
    font-size: 1.4em;
}

#product p.date-exp {
    font-size: 1.4em;
}

#product p.date-exp span {
    font-weight: bold;
}

#product div#desc-panel p {
    margin-bottom: 1px;
    font-size: .9em;
}

#product div.label-list span {
    font-size: .9em;
    margin-bottom: .8em;
}

/* DESC */

div.desc-list {
    padding: 1px 2em;
}

div.desc-list ul.prod-desc li {
    font-size: .8em;
}

/* PRICE PANEL */

div#price-panel {
    padding: .8em;
}

div#price-panel p {
    font-size: .9em;
    margin-bottom: 1px;
}

div#price-panel strong {
    font-size: 1.4em;
}

/* MEDIA */
#product .file {
    margin: .2em 0;
}
