#product h1 {
    font-size: 1.4em;
}

#product h3 {
    font-size: 1.2em;
}

#product p.storeroom {
    font-size: 1.4em;
}

#product div.label-list span {
    font-size: .9em;
    margin-bottom: .8em;
}

/* #prod-desc */
#desc-panel {
    margin-top: .8em;
    padding: .8em 1em;
}

#desc-panel p {
    margin-bottom: .2em;
    font-size: .9em;
}

#desc-panel #prod-desc {
    margin-top: .9em;
}

/* #product-image */
div#product-image {
    padding: 0.4em 0 0.4em 0.4em;
    border: none;
}

/* MEDIA */
#product .file {
    margin: .2em 0;
}


/* DESC */

div.desc-list {
    padding: 1px 2em;
}

div.desc-list ul.prod-desc li {
    font-size: .8em;
}

/* PRICE PANEL */

div#price-panel {
    padding: .8em;
}

div#price-panel p {
    font-size: .9em;
    margin-bottom: 1px;
}

div#price-panel strong {
    font-size: 1.4em;
}


table#transport td {
    text-align: center;
    padding: 0.5em 2.5em 0.5em 2.5em;
}