body {
    padding-top: 50px;
}

h1 {
    text-align: center;
    font-size: 1.5em;
}

table.table thead tr {
    background-color: #b7dde8;
}

table.table tfoot tr {
    background-color: #cee4ea;
}

div.tab-content  {
    margin-top: .8em;
}

div#source select,div#source textarea {
    font-size: .85em;
    font-family: Tahoma, 'Tahoma CE', Arial, sans-serif;
}