h1 {
    font-size: 1.2em;
    text-align: center;
}

table#buy-table {
    margin: .5em 1.5em;
    width: auto;
}

table#buy-table input {
    margin-top: 1em;
}

table#buy-table thead th {
    font-size: .8em;
}

table#buy-table tfoot td {
    font-size: 1em;
}

table#buy-table tfoot td strong {
    font-size: 1.2em;
    color: green;
}

table#buy-table a:hover, table#buy-table a:focus {
    text-decoration: underline;
}

table#buy-table a.delete-alert {
    color: #ff0000;
}

#buy .button, #product .button {
    font-weight: bold;
}

#buy fieldset {
    margin: .5em 1.5em;
}

#buy .stepping {
    margin: .5em 1.5em;
}

#buy input[type='radio'][disabled] + label {
    color: #d3d3d3;
    font-style: italic;
}

#buy #buy-flow {
    text-align: center;
    margin: 1em 3em;
}

div#delivery-blok {
    padding: 1em 2em;
}

div#delivery-blok input {
    margin: .2em;
}