/*////////////////////////////////////////////*/
/*     #dev-container                         */
/*////////////////////////////////////////////*/

#tree-panel {
    padding: 1em 1em 0.4em 1em;
}

#dev-container {
    padding-left: 1em;
    padding-bottom: .2em;
}

#dev-container li {
    padding: 0 1px;
}

#dev-container li a {
    color: #666;
    padding: 2px 0;
    font-size: .9em;
}

#dev-container a.active {
    color: #258FBD;
    font-weight: bold;
}

/*////////////////////////////////////////////*/
/*     div#prod-filter                        */
/*////////////////////////////////////////////*/

div#prod-filter {
    padding: 1em 0 0 .4em;
}

/*////////////////////////////////////////////*/
/*     div#prod-sort                          */
/*////////////////////////////////////////////*/

div#prod-sort li {
    float: left;
    margin: 0 .1em;
    list-style-type: none;
    font-size: .9em;
}

div#prod-sort li a {
    margin: 0 .2em;
}

#dev-container a:hover, div#prod-sort li a:hover, div#prod-filter a:hover label {
    text-decoration: underline;
}

div#prod-sort a.active {
    font-weight: bold;
}

/*////////////////////////////////////////////*/
/*     #category-list                         */
/*////////////////////////////////////////////*/

#category-list {
    padding-top: .8em;
}

#category-list h3 {
    font-size: .8em;
}

#category-list img {
    background-size: cover;
    height: 167px;
}

#category-list li:hover div {
    border-color: #008CBA;
}

#category-list li:hover img {
    -webkit-filter: grayscale(0);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(0);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(0);
    -o-transition: .5s ease-in-out;
    filter: grayscale(0);
    transition: .5s ease-in-out;
}

#category-list li img {
    -webkit-filter: grayscale(100%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: .5s ease-in-out;
    filter: grayscale(100%);
    transition: .5s ease-in-out;
}

#category-list li:hover h3 {
    top: -26px;
    text-decoration: underline;
}

#category-list li div {
    width: 100%;
    position: relative;
    height: 169px;
    text-align: center;
    border: 1px solid #ddd;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#category-list li div:hover {
    transition: all 0.3s ease;
}

#category-list li h3 {
    position: absolute;
    top: 80px;
    left: 1px;
    width: 100%;
    color: #fff;
    padding: 0.5rem 0;
    font-weight: 600;
    z-index: 99999;
    margin-left: -1px;
    margin-right: -1px;
    background-color: #008CBA;
    -webkit-transition: all 700ms cubic-bezier(0.68, -0.55, 0.26, 1.55);
    transition: all 700ms cubic-bezier(0.68, -0.55, 0.26, 1.55);
}


/*////////////////////////////////////////////*/
/*     #prodlist                              */
/*////////////////////////////////////////////*/

#prodlist {
    font-size: 1em;
    padding-left: .7em;
    padding-right: .8em;
}

#prodlist li {
    min-height: 25.9em;
    padding: 0.2em;
    margin-bottom: .6em;
    border: .2em solid white;
}

#prodlist h3 {
    font-family: Tahoma, 'Tahoma CE', Arial, sans-serif;
    text-align: center;
    font-size: 1em;
    margin: 2px 5px 10px 5px;
}

#prodlist img {
    padding: 0;
    text-align: center;
    margin: auto;
    border: 1px solid #eee;
    max-width: 240px;
    max-height: 240px;
}

#prodlist p {
    margin: 7px 2px 2px 2px;
    font-size: .9em;
}

#prodlist a:hover h3 {
    text-decoration: underline;
}

#prodlist p::first-letter {
    text-transform: capitalize
}

#prodlist span {
    font-size: 1em;
}

#prodlist span:first-child {
    border-right: 3px solid white;
}

#prodlist span.price {
    font-weight: bolder;
}